.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.body-login {
    width: 100vw;
    height: 100vh;
    background-image: url('https://res.cloudinary.com/daividix/image/upload/v1549929464/pexels-photo-874629.jpg');
    background-size: cover;
}

.login-circulo {
    width: 60px;
    height: 60px;
    margin: auto;
    position: relative;
  }
  
  .login-circulo-c1, .login-circulo-c2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #7f8c8d;
    border-radius: 50%;
    opacity: 0.6;
    animation: loginC 2s infinite ease-in-out;
  }
  
  .login-circulo-c2 {
    animation-delay: -1s;
  }
  
  @keyframes loginC {
    0%, 100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }