<body style="height: 100vmax; background: #3F51B5">
  <div class="form-signup">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar><mat-icon style="font-size: 40px;">input</mat-icon></div>
        <mat-card-title style="text-align: center; margin: 7px;">Login</mat-card-title>
      </mat-card-header>
      <br>
      <mat-card-content>
          <form (ngSubmit)="login()" [formGroup]="loginForm">
              <div>
                <span><mat-icon style="margin-bottom: 0;">perm_identity</mat-icon></span>
                <mat-form-field style="width: 80%">
                  <input matInput placeholder="Username" formControlName="username" name="username">
                  <mat-error *ngIf="loginForm.controls['username'].errors != null">{{getErrorMessageUsername()}}</mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-icon>lock</mat-icon>
                <mat-form-field style="width: 80%">
                  <input #password type="password" matInput placeholder="Password" formControlName="password" name="password">
                  <mat-error *ngIf="loginForm.controls['password'].errors != null">{{getErrorMessagePassword()}}</mat-error>
                </mat-form-field>
              </div>
              <br>
              <mat-card-actions>
                  <div style="text-align: center; min-width: 300px;">
                    <button mat-button type="submit">Log-in</button> 
                  </div>   
              </mat-card-actions>
            </form>
      </mat-card-content> 
    </mat-card>
    
  </div>
</body>
