<section class="bg-light">
    <div class="container shadow p-3 mb-5 bg-white rounded mx-auto ancho">
        <div class="row">
            <div class="col-md-10">
                <h1> {{ sitio$.nombre }} </h1>
            </div>
            <div class="col-md-3">
                <div class="tituloCategoria">Calificación</div><div class="descripcion"> {{ sitio$.calificacion }} </div>
            </div>
            <div class="col-md-3">
                <div class="tituloCategoria">Categoría</div><div class="descripcion"> {{ sitio$.categoria }} </div>
            </div>
            <div class="col-md-3">
                <div class="tituloCategoria">descripción</div><div class="descripcion"> {{ sitio$.descripcion }} </div>
            </div>
        </div>
    </div>



</section>
<!--
<div class="media">
  <img src="https://via.placeholder.com/110/92c952" alt="Logo" class="rounded">
</div>
-->
