
h1{
    font-weight: 700;
    font-size: 2rem;
    font-family: Montserrat, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.ancho {
    width: 100%;
}


.tituloCategoria {
      font-size: 15px;
      font-weight: 300;
      line-height: 23px;
      letter-spacing: 0.2px;
      color: #797979;
}

.descripcion {
    font-weight: 700;
}

.post {
    border: 1px solid rgba(0, 0, 0, .125);
}

/* Estrellas */
.star {
  font-size: 1.3rem;
  color: #b0c4de;
}

.filled {
  color: #ffcc00;
}

.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #ff1e1e;
}

.espacioAbajo {
  padding-bottom: 20px;
}

.space {
  padding-left: 75px;
  padding-right: 70px;
}
