<mat-toolbar color="primary" style="border-radius: 15px;">
  <form (ngSubmit)="enviarDatos()" #myForm="ngForm" class="fullwidth">
    <table class="fullwidth" cellspacing="0">
      <tr class="fullwidth">
        <td style="width:50%">
            <b><span style="margin-right: 10px;">Buscar</span></b>
            <mat-form-field  [floatLabel]="'never'" class="inputw">
              <input matInput placeholder="Restaurantes, Tiendas, Hoteles, etc..." type="search" 
              maxlength="20" [(ngModel)]="value" name="value">
            </mat-form-field>
        </td>
        <td style="width:50%">
            <b><span style="margin: 10px;"> En</span></b>
            <mat-form-field [floatLabel]="'never'" class="inputw">
              <input matInput placeholder="Neiva, Huila, etc..." type="search" 
              maxlength="10" [(ngModel)]="value1" name="value1">
            </mat-form-field>
        </td>
        <td>
            <p>
                <button type="submit" mat-raised-button style="border-radius: 15px;" >
                  <mat-icon>search</mat-icon>
                </button>
              </p>
        </td>
    </tr>
  </table>
  </form>
  </mat-toolbar>
