<body class="signup-body">
    <app-navbar></app-navbar>
<div class="signup-center-div col-md-6">
    <h5 class="display-4 text-center">Registrarse</h5>
    <div class="card">
      <div class="card-body">
        <ngb-alert *ngIf="openAlert" [type]="alert.type" (close)="openAlert = false">{{alert.message}}</ngb-alert>
        <form (ngSubmit)="signup()" [formGroup]="firstFormGroup" class="mt-5">
          <div class="form-group w-75 mx-auto">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <mat-icon style="margin-bottom: 0;">perm_identity</mat-icon>
                </div>
              </div>
              <input class="form-control" placeholder="Nombre" formControlName="name" name="name" (keyup)="keyup.name = true">
            </div>
            <small class="form-text text-danger" *ngIf="keyup.name && firstFormGroup.controls['name'].errors != null">{{firstFormError('name')}}</small>
          </div>
          <div class="form-group w-75 mx-auto">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <mat-icon style="margin-bottom: 0;">perm_identity</mat-icon>
                </div>
              </div>
              <input class="form-control" placeholder="Username" formControlName="username" name="username" (keyup)="keyup.username = true">
            </div>
            <small class="form-text text-danger" *ngIf="keyup.username && firstFormGroup.controls['username'].errors != null">{{firstFormError('username')}}</small>
          </div>
          <div class="form-group w-75 mx-auto">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  @
                </div>
              </div>
              <input class="form-control" placeholder="Email" formControlName="email" name="email" (keyup)="keyup.email = true">
            </div>
            <small class="form-text text-danger" *ngIf="keyup.email && firstFormGroup.controls['email'].errors != null">{{firstFormError('email')}}</small>
          </div>
          <div class="form-group w-75 mx-auto">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <mat-icon>lock</mat-icon>
                </div>
              </div>
              <input #password type="password" class="form-control" placeholder="Password" formControlName="password"
                name="password" (keyup)="keyup.password = true">
            </div>
            <small class="form-text text-danger" *ngIf="keyup.password && firstFormGroup.controls['password'].errors != null">{{firstFormError('password')}}</small>
          </div>
          <br>
          <div *ngIf="onRegister">
              <div style="text-align: center">Espera un momento</div>
              <div class="signup-circulo">
                  <span class="signup-circulo-c1"></span>
                  <span class="signup-circulo-c2"></span>
                </div>
          </div>
          <div>
            <div *ngIf="!onRegister" style="text-align: center; min-width: 300px;">
              <button placement="bottom" ngbTooltip="{{(firstFormGroup.controls['password'].errors != null || firstFormGroup.controls['username'].errors != null) ? 'Corrige los campos': ''}}"
                mat-button type="submit" [disabled]="firstFormGroup.controls['password'].errors != null || firstFormGroup.controls['username'].errors != null">Registrarme</button>
            </div>
            <div class="text-right">
              <a mat-button routerLink="/login">Ya tengo cuenta</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
