/* Lugar */

#caja img {
  width: 100%;
  height: 100%;
}

.lugar-item {
  background-color: #fff;
  border-radius: 13px 13px 13px 13px !important;

}

.lugar-item:hover {

  border: 1px solid #21ce99 !important;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(191, 191, 191, 1);
  -moz-box-shadow: 0px 5px 20px 0px rgba(191, 191, 191, 1);
  box-shadow: 0px 5px 20px 0px rgba(191, 191, 191, 1);

}

.lugar-item h3 {
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
  padding-left: 20px;
  font-weight: bold;
}

.lugar-item .lugar-location {
  color: #b3b3b3;
  font-size: 15px;
  padding-left: 30px;
}

.lugar-item .lugar-position {
  color: #000;
  font-size: 12px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.lugar-item p {
  font-size: 15px;
  font-weight: 300;
  color: #a6a6a6;
  padding: 5px 10px 20px 20px;
}

.lugar-radiusImg {
  border-radius: 13px 13px 0px 0px !important;
}

/* Estrellas */
.star {
  font-size: 1.3rem;
  color: #b0c4de;
}

.filled {
  color: #ffcc00;
}

.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #ff1e1e;
}

.espacioAbajo {
  padding-bottom: 20px;
}

.space {
  padding-left: 75px;
  padding-right: 70px;
}
