<header>
<app-navbar></app-navbar>
  <div class="container">
    <div class="slider-container">
      <div class="intro-text">
      <img src="https://res.cloudinary.com/hcarvajal/image/upload/v1550168488/sitios/Logo.png" />
        <br>
        <div class="categoTop" *ngFor="let populares of categoriaPopular$">
          <a *ngIf="populares.popular" routerLink="/categories-result/{{populares.id}}"><i class=" material-icons">{{populares.icono}}</i>
          {{populares.nombre}}</a>
        </div>
      </div>
    </div>
  </div>
</header>

