.color{
    background-color: #21CE99;
    border: none;
}

.diva{
    padding-top: 80px;
}

.signup-center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

agm-map {
    width: 350px;
    height: 200px;
  }
