.color{
    background-color: #21CE99;
    border: none;
}

.colorfondo{
  background-color: #F3F3F6;
}

.colorfondo2{
  background-image: url(https://res.cloudinary.com/diluhhy82/image/upload/v1550944124/8528637804_dbe9e4cbc5_k.jpg);
}

.diva{
    padding-top: 80px;
}

.signup-center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

agm-map {
    height: 300px;
  }
