<div class="signup-center-div container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8 col-sm-8 col-8 border rounded main-section">
      <h3 class="text-center text-inverse">Registro Sitos</h3>
    
      <form class="container">
        <div class="row">
          <div class="col-sm-6 col-12">
             <div class="form-group">
              <label class="text-inverse" for="validationCustom01">Nombre del sitio</label>
              <input type="text" class="form-control" id="validationCustom01" placeholder="Nombre del sitio" value="" required>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="form-group">
              <label class="text-inverse" for="validationCustom02">Calificacion</label>
              <input type="text" class="form-control" id="validationCustom02" placeholder="Calificacion" value='' required>
            </div>  
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-12">
            <div class="form-group">
              <label class="text-inverse" for="inputphone">Telefono</label>
              <input type="number" class="form-control" id="inputphone" placeholder="Telefono" required>
            </div>  
          </div>
          <div class="col-lg-6 col-sm-6 col-12">
            <div class="form-group">
              <label class="text-inverse" for="inputpassword">Eslogan</label>
              <input type="text" class="form-control" id="inputeslogan" placeholder="Eslogan" required>
            </div>  
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-12">
            <div class="form-group">
              <label class="text-inverse" for="validationCustom03">Ciudad</label>
              <input type="text" class="form-control" id="validationCustom03" placeholder="Ciudad" required>
            </div>  
          </div>

          <div class="col-lg-6 col-sm-6 col-12">
            <div class="form-group">
              <label class="text-inverse" for="validationCustom03">Direccion</label>
              <input type="text" class="form-control" id="validationCustom03" placeholder="Direccion" required>
            </div>  
          </div>
          
          


        </div>
        
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-12 text-center">
              <button class="btn btn-info color" type="submit">Crear</button>
          </div>
        </div>  
      </form>
    </div>
  </div>  
</div>

      
