<section id="lugar" class="light-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h4 class="titleFooter">Sobre Nosotros</h4>
        <ul class="listFooter">
          <li><a routerLink="#">Lorem impsum</a></li>
          <li><a routerLink="#">Lorem impsum</a></li>
          <li><a routerLink="#">Lorem impsum</a></li>
          <li><a routerLink="#">Lorem impsum</a></li>
          <li><a routerLink="#">Lorem impsum</a></li>
          <li><a routerLink="#">Lorem impsum</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h4 class="titleFooter">Servicios</h4>
          <ul class="listFooter">
            <li><a routerLink="#">Lorem impsum</a></li>
            <li><a routerLink="#">Lorem impsum</a></li>
            <li><a routerLink="#">Lorem impsum</a></li>
            <li><a routerLink="#">Lorem impsum</a></li>
            <li><a routerLink="#">Lorem impsum</a></li>
            <li><a routerLink="#">Lorem impsum</a></li>
          </ul>
      </div>
      <div class="col-lg-3">
        <h4 class="titleFooter">Negocios</h4>
        <ul class="listFooter">
          <li><a routerLink="#">Lorem impsum</a></li>
          <li><a routerLink="#">Lorem impsum</a></li>
          <li><a routerLink="#">Lorem impsum</a></li>
          <li><a routerLink="#">Lorem impsum</a></li>
          <li><a routerLink="#">Lorem impsum</a></li>
          <li><a routerLink="#">Lorem impsum</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h4 class="titleFooter">Politicas</h4>
        <ul class="listFooter">
          <li><a routerLink="#">Lorem impsum</a></li>
          <li><a routerLink="#">Lorem impsum</a></li>
          <li><a routerLink="#">Lorem impsum</a></li>
          <li><a routerLink="#">Lorem impsum</a></li>
          <li><a routerLink="#">Lorem impsum</a></li>
          <li><a routerLink="#">Lorem impsum</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
