.titleFooter{
  text-align: left !important;
  color: #21ce99;
  font-weight: 100;
  font-size: 18px;
}

ul, li{
  list-style: none;
  vertical-align: baseline !important;
  text-align: left !important;
  padding: 0 !important;
  margin: 0 !important;
}
a{
  text-align: left !important;
  color: #0073bb;
}
a:hover{
  text-decoration-line: none;
}

.row{
  padding-left: 100px !important;
}
