.titleFooter{
  text-align: left !important;
  color: #21ce99;
  font-weight: 100;
  font-size: 18px;
}

ul, li{
  list-style: none;
  vertical-align: baseline !important;
  text-align: left !important;
  padding: 0 !important;
  margin: 0 !important;
}
a{
  text-align: left !important;
  color: #0073bb;
}
a:hover{
  text-decoration-line: none;
}

.row{
  padding-left: 100px !important;
}

/* Footer */

footer {
  padding: 30px;
  background-color: #000;
}

footer p {
  color: #B7B7B7;
  margin: 0;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.6px;
}

footer p a {
  color: #fff;
}

footer p a span {
  color: #21ce99;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
}
